body,html{
  display: block;
  min-width: 100%;
  height: 100%;
  /*background: #000;*/
  color: #000000;
  padding: 0;
  margin: 0;
}


/*------------------------------------------------------------*/


#header{
  height: 100%;
}

#icon{
  /*padding: 8px 8px 8px 32px;*/
  margin-bottom: 10px;
  display: block;
  transition: 0.3s;
  bottom: 0%;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #D2D2D2; /* Gray*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main2 {
  transition: margin-left .5s;
  padding: 20px;
}

.fas{
  margin: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* NAVIGATION */
/*
.navbar{
  border: 1px solid black;
}

.nav-font {
  font-family: 'Helvetica', sans-serif;
  font-size: large;
  font-weight: lighter;
}

.nav-item .nav-link{
  color: #000000 !important;
}

.nav-item:hover .nav-link{
  background-color: white;
  color: white;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{ color: #fff;  }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
} */
/*------------------------------------------------------------*/

#profilePic img{
  border-radius: 75%;
  width: 200px;
  position: absolute;
  top: 28%;
  transform: translate(0, -50%);
  margin-left: 50px;
  border: 2px solid black;
}

/*------------------------------------------------------------*/

/* Introduction Index Page: TYPING AND DESCRIPTION*/

@import url(https://fonts.googleapis.com/css?family=Karla);


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}

.typing {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  margin-left: 50px;
}

.description{
  position: absolute;
  top: 65%;
  transform: translate(0, -50%);
  font-size: 50px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  margin-left: 50px;
}

.resume{
  position: absolute;
  top: 72%;
  transform: translate(0, -50%);
  margin-left: 50px;
}

.resume-text{
  font-family: 'Helvetica', sans-serif;
  font-size: 20px !important;
  border-radius: 10%;
  color: #ECF0F1;
}

.resume-text:hover{
  transform: scale(1.2);
  text-decoration: none !important;
  background-color: #839192;
}

@media screen and (max-width: 1002px){
  #profilePic img{
    width: 120px;
    top: 40%;
  }
}


@media screen and (min-width: 601px) {
  .typing {
    font-size: 50px;
  }

  .description {
    font-size: 40px;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1002px) {
  .typing {
    font-size: 25px;
    top: 60%
  }

  .description {
    font-size: 15px;
    top: 75%;
  }

  .resume{
    top:82%;
  }
}

/* Arrow Icon */

.end {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

#icon:active, #icon:link{
  color: black;
}

#icon:visited {
  color: #566573;
}

.end:hover{
  color: black;
  transform: scale(1.5);
}

.fa, .fas {
    font-weight: 900;
    font-size: 250%;
}

/*------------------------------------------------------------*/

/* Main Section of the Index Page */

/* About Section */
#about_me {
  margin-top: 50px;
  padding: 75px 15px;
  border-top: 1px solid #D0D3D4;
  border-bottom: 1px solid #B3B6B7;
  background-color: #ECF0F1;

}

h2 {
  color: $heading;
  font-size: 35px !important;
}

p {
  color: $text;
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

@media screen and (max-width: 600px) {
  #about_me>h2 {
    font-size: 30px;
  }

  #about_me>p {
    font-size: 20px;
  }
}

/*-------------------------------------*/

/* Education Section */
#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #B3B6B7;
    text-align: center;
  }

#education>h2 {
  color: black;
  margin-bottom: 50px;
  font-size: 35px !important;
}


.education-block {
    max-width: 700px;
    margin: 20px auto 30px auto;
    padding: 25px;
    border: 1px solid #AAB7B8;
    text-align: left;
    box-shadow: 10px 10px 5px grey;
}

.education-block>h3 {
  font-weight: 300;
  float: left;
  margin: 0;
  color: $heading;
  padding: 10px;
  font-family: 'Arial', sans-serif !important;
}

.education-block>span{
  color: $text;
  float: right;
}

.education-block>h4{
  color: $text;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
  font-family: 'Arial', sans-serif !important;
  font-weight: normal;
  padding: 5px;
}

.education-block>p {
  margin: 0;
  color: $text;
  font-size: 0.9em;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
  padding: 5px;
}

/*-------------------------------------*/


/*#experience{padding:50px 15px;text-align:center;border-bottom:1px solid #dcd9d9}#experience h2{color:#374054}#experience-timeline{margin:30px auto 0 auto;position:relative;max-width:1000px}#experience-timeline:before{position:absolute;content:'';top:0;bottom:0;left:303px;right:auto;height:100%;width:3px;background:#3498db;z-index:0}#experience-timeline:after{position:absolute;content:'';width:3px;height:40px;background:#3498db;background:linear-gradient(to bottom, #3498db, rgba(52,152,219,0));top:100%;left:303px}.vtimeline-content{margin-left:350px;background:#fff;border:1px solid #e6e6e6;padding:15px;border-radius:3px;text-align:left}.vtimeline-content h3{font-size:1.5em;font-weight:300;color:#374054;display:inline-block;margin:0}.vtimeline-content h4{font-size:1.2em;font-weight:300;color:#7e8890;margin:0 0 15px 0}.vtimeline-content p{color:#74808a;font-size:0.9em;margin:0}.vtimeline-point{position:relative;display:block;vertical-align:top;margin-bottom:30px}.vtimeline-icon{position:relative;color:#fff;width:50px;height:50px;background:#3498db;border-radius:50%;float:left;z-index:99;margin-left:280px}.vtimeline-icon i{display:block;font-size:2em;margin-top:10px}.vtimeline-date{width:260px;text-align:right;position:absolute;left:0;top:10px;font-weight:300;color:#374054}
*/
#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #B3B6B7;
    background-color: #ECF0F1;
}

#experience>h2 {
  color: $heading;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;

}

#experience-timeline>&:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: $base-color;
  z-index: 0;
}

#experience-timeline>&:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: $base-color;
  background: linear-gradient(to bottom, $base-color, rgba($base-color, 0));
  top: 100%;
  left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}

.vtimeline-content>h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        display: inline-block;
        margin: 0;
        padding: 10px;
        font-family: 'Arial', sans-serif !important;
        padding: 10px;
    }

.vtimeline-content>h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
    padding: 5px;
}

.vtimeline-content>p {
  color: $text;
  font-size: 0.9em;
  margin: 0;
  padding: 5px;
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: $base-color;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;

    i {
        display: block;
        font-size: 2em;
        margin-top: 10px;
    }
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054;
}

/*-------------------------------------*/

/* Project Section */

#projects {
  padding: 50px 15px;
  border-bottom: 1px solid #B3B6B7;
  text-align: center;
}

#projects>h2 {
  color: $heading;
  padding: 20px;
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
}

.box{
  border: 1px solid #AAB7B8;
}

.project-info {
  position: relative;
  padding: 30px 15px;
  transform: none;
  max-width: 1000px;
  border-radius: 5px;
}

.shadow-large{
  box-shadow: 10px 10px 5px grey;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: $heading;
  margin: 0 0 15px 0;
}

p {
  color: $text;
  margin: 0 0 15px 0;
  font-size: 0.9em;
}

#more-projects {
    display: none;
}

/*-------------------------------------*/

/* Skills Section */

#skills {
  padding: 50px 15px;
  text-align: center;
  background-color: #ECF0F1;
  border-bottom: 1px solid #B3B6B7;
}

.skill_sections{
  /*box-shadow: 10px 10px 5px grey;*/
  margin-top: 50px;
}

#skills h2{
  margin-bottom: 50px;
  color: $heading;
}

#skills h3{
  margin-top: 20px;
}


#skills ul {
  display: block;
  margin: 0 auto;
  /*padding: 0;*/
  max-width: 800px;
}

#skills li{
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  background: rgba(3, 152, 158, 1);
}

/*-------------------------------------*/

/* Contact */

#contact {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #B3B6B7;
}

h2 {
  margin-bottom: 50px;
  color: $heading;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

input[type=email]{
  margin-bottom: 10px;
  padding: 10px;
}

textarea{
  margin-bottom: 20px;
  padding: 30px;
  text-align: left;
}

input, textarea {
  display: block;
  width: 100%;
  font-family: 'Verdana', sans-serif !important;
  border-radius: 4px;
  border: none;
  background: rgba(3, 152, 158, 0.25);
  color: black;
  box-sizing: border-box;

  @include transition();
  @include placeholder {
      color: #fff;
}
}

input:focus, textarea:focus {
  outline: none;
  background: #A6ACAF;
}

#contact-form button {
  display: block;
  width: 100%;
  margin-top: 10px;
  background: #95A5A6;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: black;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  @include transition();
}

#contact-form button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


/*------------------------------------------------------------*/

/* FOOTER */

footer{
  background-color: #ECF0F1;
}
/*
.site-links li{
  margin-bottom: 5px;
  font-family: 'Verdana', sans-serif;
}

.site-links a{
  color: black;
}

.site-links a:hover{
  color: #03989E;
  text-decoration: none;
} */


.content{
  margin: 10px;
  float: left;
  width: 45%;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}

.content h5{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
}

.content p{
  font-weight: 300;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
}

.social-links li{
  display: inline-block;
  margin: 5px;
  text-align: right;
}

.social-links a{
  text-align: right;
}

.social-links li:hover{
  transform: scale(1.5);
}

.copyright{
  float: right;
  width: 45%;
  text-align: right;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}


/* Collapse timeline*/
@media only screen and (max-width: 750px) {

    #experience-timeline {
        &:before, &:after {
            left: 23px;
        }

    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }

    .vtimeline-icon {
        margin-left: 0;
    }

    .vtimeline-content {
        margin-left: 70px;
    }

}

/*Medium Devices*/
@media only screen and (max-width : 992px) {

    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }

    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.75em;
        }
    }

    #about {
        text-align: center;

        p {
            text-align: left;
        }
    }

}

/*Small Devices*/
@media only screen and (max-width : 768px) {

    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }

    #mobile-menu-open, #mobile-menu-close {
        display: block;
    }

    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;

        li {
            display: block;
            margin-bottom: 10px;
        }
    }

    #lead-content {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.3em;
        }

        a {
            padding: 10px 20px;
        }
    }

    #lead-down {
        display: none;
    }

    .education-block {
        h3, span {
            float: none;
        }
    }

    .project-image {
        display: none;
    }

    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }

    footer {
        text-align: center;
    }

    .social {
        text-align: center;
    }

}

/*Extra Small Devices*/
@media only screen and (max-width : 480px) {

    #lead-content {
        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1em;
        }

        a {
            font-size: 0.9em;
            padding: 5px 10px;
        }
    }

}







