body, html{
  height: 100%;
  margin: 0;
}

.background{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(images/background.JPG);
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-opacity: 0.5;
  text-align: center;
  position: relative;
}

#logo{
	float: left;
}

.topnav {
    display: block;
    background-color: black;
    margin: 0px auto;
    width: 20%;
    padding: 0px 16px;
    float: right;
    border: 5px solid beige;
}

.topnav a {
    font-family: 'Patrick Hand', cursive;
    float: none;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.2vw;
    margin: 2%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#heading {
    display: inline-block;
    height: 35%;
    margin: -3%;
}

#heading p{
  font-family: 'Fredericka the Great', cursive;
  font-size: 5vw;
  color: #000000;
}

div#name {
    width: 20%;
    float: right;
}

#name h2{
  font-family: 'Patrick Hand', cursive;
  font-size: 2vw;
}

div#body {
    width: 56%;
    position: absolute;
    bottom: 25%;
    left: 13%;
}

.center{
  font-family: 'Kalam', cursive;
  color: #2E4053;
  font-size: 3vw;
  margin: 0 auto;
  height: 57%;
  width: 120%;
}

.end {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

#icon:active, #icon:link{
  color: black;
}

#icon:visited {
  color: #566573;
}

#icon:hover{
  color: white;
}

.fa, .fas {
    font-weight: 900;
    font-size: 250%;
}


 
@media all screen and (min-width: 1280px) and (max-width: 1460px){
  .topnav a {
    float: none;
    display: block;
  }
}

@media all screen and (min-width: 1024px) and (max-width: 1280px){
  .topnav a {
    float: none;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .topnav a {
    float: none;
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px){
  .topnav a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 480px){
	.topnav a {
    float: none;
    display: block;
  }
}